/Project2D/.vs/Project2D/v16/Server/sqlite3/*.lock
/Project2D/.vs/Project2D/v16/.suo
/Project2D/.vs/Project2D/v16/Server/sqlite3/storage.ide
/Project2D/.vs/Project2D/v16/Server/sqlite3/storage.ide-shm
/Project2D/.vs/Project2D/v16/Server/sqlite3/storage.ide-wal
/CSharpStudy/.vs/CSharpStudy/v16/.suo
/CSharpStudy/.vs/CSharpStudy/v16/Server/sqlite3/db.lock
/CSharpStudy/.vs/CSharpStudy/v16/Server/sqlite3/storage.ide
/CSharpStudy/.vs/CSharpStudy/v16/Server/sqlite3/storage.ide-shm
/CSharpStudy/.vs/CSharpStudy/v16/Server/sqlite3/storage.ide-wal
